/* Здесь располагаются CSS-стили */

.screener__table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

@media only screen and (max-width: 576px) {
  .common-pager {
    flex-direction: column;
    margin-left: 12px;
    gap: 0;
    align-items: flex-end;
  }
  .rows-count-text {
    justify-content: flex-end;
  }
}

.filters-in-popup > * {
  width: 100%;
}

.common-pager {
  position: sticky;
  left: 0;
}

@media only screen and (max-width: 1280px) {
  .screener__filters {
    display: flex !important;
  }
}

@media only screen and (max-width: 992px) {
  .screener__filters {
    display: block !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .screener__filter-btns {
    flex-direction: row !important;
  }
  .screener__filter-btns > button {
    flex: 1;
  }
}

/* Где important - нужно заменить исходные стили */
.screener__filters-row {
  justify-content: flex-start !important;
  gap: 16px 16px !important;
}

@media only screen and (max-width: 768px) {
  .custom-select:not(.filter-rating) {
    width: calc(50% - 8px);
  }
  .filter-rating {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .screener__filters-row {
    flex-direction: column;
  }
  .custom-select:not(.filter-rating) {
    width: 100%;
  }
}

/* .table {
  min-width: max-content !important;
} */

/* убрать стиль в site.css */
@media only screen and (max-width: 1280px) {
  .table td,
  .table th {
    font-weight: 700;
    font-size: 1em !important;
  }
  .table th {
    color: #647383 !important;
  }
}

@media only screen and (max-width: 576px) {
  .table td,
  .table th {
    font-weight: 500;
    font-size: 0.875em !important;
  }
}

@media only screen and (max-width: 768px) {
  .table td.title,
  .table th.title {
    max-width: 240px;
  }
}

.table thead th {
  font-size: 16px;
  white-space: nowrap;
  padding-right: 58px;
}

@media only screen and (max-width: 992px) {
  .table td,
  .table th {
    padding: 10px 58px 10px 10px !important;
  }
  .table td {
    text-align: left !important;
  }
  td.title,
  th.title {
    padding-right: 20px !important;
  }
}

.tooltip-content {
  white-space: normal;
}

.table-header th {
  font-weight: 400 !important;
}

.table tbody td.title {
  min-width: 286px;
}

@media only screen and (max-width: 768px) {
  .table td.title > div {
    min-width: 0 !important;
  }
}

.table td.title {
  padding-right: 20px;
}

.screener__mobile-popup {
  background: #00000080;
  display: none;
  inset: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.screener__mobile-popup.active {
  display: flex;
}

.screener__popup-close-button {
  width: 40px;
  height: 40px;
  background: white;
  align-self: flex-end;
  margin-bottom: 8px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.screener__mobile-popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 16px;
}

.screener__mobile-popup .screener__block {
  width: 100%;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .screener__toggle-columns {
    position: static;
    max-height: 640px;
    max-width: none;
  }

  .screener__toggle-btns {
    max-height: 640px !important;
  }
}

.table__icons-header {
  flex-direction: row !important;
}

.link-arrow {
  width: fit-content;
}

.screener__btns {
  padding-right: 16px;
}

@media only screen and (max-width: 992px) {
  .table__icons-header {
    gap: 0 !important;
  }
}

@media only screen and (max-width: 992px) {
  .footer .nav-menu {
    flex-direction: row !important;
    font-size: 14px;
  }
  .nav-menu__tg > p {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .footer .nav-menu {
    flex-direction: column !important;
  }
  .nav-menu__tg > p {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .table tbody td.title {
    min-width: 0;
  }
}
